# Copyright 2025 Google LLC All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

. @ai-on-gke/gke-ai-labs @ai-on-gke/akvelon


#Guides
#Benchmarking
/site/content/docs/benchmarking/accelerator-based-benchmark @ai-on-gke/gke-ai-labs
/site/content/docs/benchmarking/cpu-based-benchmark @ai-on-gke/gke-ai-labs

#Blueprints
/site/content/docs/blueprints/jupyter-on-gke @ai-on-gke/gke-ai-labs
/site/content/docs/blueprints/nim-on-gke @ai-on-gke/gke-ai-labs
/site/content/docs/blueprints/rag-on-gke @ai-on-gke/gke-ai-labs
/site/content/docs/blueprints/ray-on-gke @ai-on-gke/gke-ai-labs
/site/content/docs/blueprints/slurm-on-gke @ai-on-gke/gke-ai-labs

#Tutorials
site/content/docs/tutorials/flyte
site/content/docs/tutorials/fungibility-recipes @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/gen-ai-llm/e2e-genai-lanchain-app @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/gen-ai-llm/finetuning-gemma-2b-on-l4 @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/gen-ai-llm/finetuning-llama-7b-on-l4 @ai-on-gke/akvelon
site/content/docs/tutorials/gen-ai-llm/mistral-7b-instruct-v1 @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/gen-ai-llm/mixtral8x7 @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/gen-ai-llm/serving-llama2-70b-on-l4-gpus @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/hf-tgi @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/inference-servers/checkpoints @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/inference-servers/jetstream @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/inference-servers/maxdiffusion @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/kserve @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/langchain-chatbot @ai-on-gke/akvelon
site/content/docs/tutorials/llamaindex @ai-on-gke/akvelon
site/content/docs/tutorials/metaflow @ai-on-gke/akvelon
site/content/docs/tutorials/mlflow @ai-on-gke/akvelon
site/content/docs/tutorials/models-as-oci @ai-on-gke/akvelon
site/content/docs/tutorials/skypilot/cross-region-capacity-chasing @ai-on-gke/akvelon
site/content/docs/tutorials/skypilot/resource-management-using-kueue @ai-on-gke/akvelon
site/content/docs/tutorials/storage/hyperdisk-ml @ai-on-gke/akvelon
site/content/docs/tutorials/workflow-orchestration/dws @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/workflow-orchestration/indexed-job @ai-on-gke/gke-ai-labs
site/content/docs/tutorials/workflow-orchestration/jobset @ai-on-gke/gke-ai-labs
site/content/docs/use-cases @ai-on-gke/akvelon